# Build Packages
build
setuptools
wheel

# Lint & Coverage
flake8
mypy
coverage

# Test
coredumpy

# 3rd party packages for test
ipywidgets>8.0.5
loky>=3.0.0,<3.5.0 # loky 3.5.0 has a bug that breaks the tests
jaxlib; sys_platform != 'win32' and python_version < '3.11'
