# Build Packages
build
setuptools
wheel

# Lint & Coverage
ruff
mypy
coverage

# Test
pytest
coredumpy

# Devtools
pystack; sys_platform == 'linux' and python_version < '3.13'
psutil

# 3rd party packages for test
ipywidgets>8.0.5
loky>3.5.0
jaxlib; sys_platform != 'win32' and python_version < '3.11'
