name: lint

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  lint:
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependency
        run: pip install flake8 mypy
      - name: Run flake8
        run: flake8 . --exclude "src/viztracer/attach_process/*" --count --ignore=W503 --max-line-length=127 --statistics
      - name: Run mypy 
        run: mypy src/ --exclude src/viztracer/attach_process/
