# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ master ]
    paths:
      - "src/viztracer/**"
      - "tests/**"
      - "setup.py"
      - ".github/workflows/python-package.yml"
  pull_request:
    paths:
      - "src/viztracer/**"
      - "tests/**"
      - "setup.py"
      - ".github/workflows/python-package.yml"
  schedule:
    - cron: '0 10 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.13t', '3.14', '3.14t']
        os: [ubuntu-latest, macos-latest, macos-15-intel, windows-latest, windows-11-arm]
        exclude:
          - python-version: '3.10'
            os: 'windows-11-arm'
          - python-version: '3.11'
            os: 'windows-11-arm'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      COREDUMPY_DUMP_DIR: ${{ github.workspace }}/coredumpy_data
    steps:
    - uses: actions/checkout@v6
      with:
        # This is necessary to get the PR head instead of base
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install gdb
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install gdb
        echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope
    - name: Setup lldb
      if: contains(matrix.os, 'macos')
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Build dist and test with pytest
      if: "!contains(matrix.os, 'windows')"
      run: |
        python -m build
        pip install dist/*.whl
        python -m pytest --junit-xml=./test-results.xml -o junit_family=legacy
    - name: Build dist and test with pytest on Windows
      if: contains(matrix.os, 'windows')
      run: |
        python -m build
        pip install (Get-ChildItem dist/*.whl)
        python -m pytest --junit-xml=./test-results.xml -o junit_family=legacy
    - name: Upload the test time artifacts
      uses: actions/upload-artifact@v4
      with:
        name: test_time_trace_${{ matrix.os }}_${{ matrix.python-version }}
        path: test_time_trace.json
        retention-days: 7
    - name: Upload test results
      if: (!cancelled()) && github.ref == 'refs/heads/master'
      uses: codecov/codecov-action@v5
      with:
        report_type: 'test_results'
        files: test-results.xml
        flags: ${{ matrix.os }}-${{ matrix.python-version }}
        name: VizTracer Tests
        token: ${{ secrets.codecov_token }}
    - name: Generate coverage report
      run: |
        coverage run --source viztracer --parallel-mode -m pytest
        coverage combine
        coverage xml -i
      env:
        COVERAGE_RUN: True
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.xml
    - name: Upload coredumpy data if applicable
      uses: gaogaotiantian/upload-coredumpy@v0.2
      if: failure()
      with:
        name: coredumpy_data_${{ matrix.os }}_${{ matrix.python-version }}
        path: ${{ env.COREDUMPY_DUMP_DIR }}
        retention-days: 7
