name: Python package build and publish

on:
  release:
    types: [created]

jobs:
  build-wheels:
    uses: ./.github/workflows/wheels.yml
    with:
      upload_artifacts: true

  deploy-wheels:
    needs: build-wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine flake8 setuptools wheel
      - name: Build source tar
        run: |
          python -m build
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          path: wheelhouse
          merge-multiple: true
      - name: Publish wheels to PyPI
        continue-on-error: true
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload --skip-existing dist/*tar* wheelhouse/*.whl
